:root {
  --accent-1: rgba(12, 12, 12, 1);
  --accent-3: rgba(143, 143, 143, 1);
  --background-blur-md: ;
  --basewhite: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --gray: rgba(90, 90, 90, 1);
  --primary-color: rgba(122, 131, 255, 1);
  --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  --text-color: rgba(212, 212, 212, 1);
  --text-color-2: rgba(176, 176, 176, 1);
  --white: rgba(255, 255, 255, 1);
}
